<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="ZkAdmin.My.MySettings.Connection_String" connectionString="Data Source=82.165.119.217;Initial Catalog=Como;Persist Security Info=True;User ID=FastComoHr;Password=Como_15963!"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
</configuration>